# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.swp

# User data
xcuserdata/
*.xcuserdatad/

# Dependencies
Pods/
Carthage/Build/
.build/

# macOS
.DS_Store
*.pem

# Swift Package Manager
Package.resolved
.swiftpm/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
