//
//  Production.xcconfig
//  WorldExplorer
//
//  Created by ahmed ali on 7/5/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/restcountries.com/
BUNDLE_ID = com.worldexplorer.app
DISPLAY_NAME = WorldExplorer
